<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>all</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShowAll</servlet-name>
    <servlet-class>show.ShowAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAll</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fetch</servlet-name>
    <servlet-class>data.Fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>ShowByCounty</servlet-name>
    <servlet-class>show.ShowByCounty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByCounty</servlet-name>
    <url-pattern>/county</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByAge</servlet-name>
    <servlet-class>show.ShowByAge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByAge</servlet-name>
    <url-pattern>/age</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByDeathAccident</servlet-name>
    <servlet-class>show.ShowByDeathAccident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByDeathAccident</servlet-name>
    <url-pattern>/deathaccident</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByDrugOrAlcohol</servlet-name>
    <servlet-class>show.ShowByDrugOrAlcohol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByDrugOrAlcohol</servlet-name>
    <url-pattern>/drugoralcohol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByFactor</servlet-name>
    <servlet-class>show.ShowByFactor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByFactor</servlet-name>
    <url-pattern>/factor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowBySpeed</servlet-name>
    <servlet-class>show.ShowBySpeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBySpeed</servlet-name>
    <url-pattern>/speed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByTime</servlet-name>
    <servlet-class>show.ShowByTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByTime</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByTypeOfCar</servlet-name>
    <servlet-class>show.ShowByTypeOfCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByTypeOfCar</servlet-name>
    <url-pattern>/car</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowByWeather</servlet-name>
    <servlet-class>show.ShowByWeather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowByWeather</servlet-name>
    <url-pattern>/weather</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MannerOfCollision</servlet-name>
    <servlet-class>show.MannerOfCollision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MannerOfCollision</servlet-name>
    <url-pattern>/collision</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MultipleSelect</servlet-name>
    <servlet-class>show.MultipleSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleSelect</servlet-name>
    <url-pattern>/multiple</url-pattern>
  </servlet-mapping>
</web-app>